body {
  overflow: hidden;
}

md-toolbar h3 {
  margin: auto;
  font-weight: 500;
}

ui-view {
  height: 90vh;
}

.ssi-table {
  box-sizing: border-box;
  height: inherit;
  overflow: hidden;
}

.ssi-table-list {
  box-sizing: border-box;
  height: inherit;
}

.ssi-table-list-virtual-repeat-container {
  box-sizing: border-box;
  height: inherit;
}

.ssi-table-list-item {
  box-sizing: border-box;
}
