body{
    min-width: 850px;
}
#mainMenu {
    width: 13em;
}
#container {
    margin-left: 13em;
    margin-top: 0;
    padding: 1em;
}
#mainTable{
}

#topMenu{
}

div.field.actions > div{
    margin-left: 0 !important;
}

div.login-header{
    color: gray;
}

tr.visible.transition {
    display: table-row !important;
}

.ui.selectable.table .noselect{
    background-color: lightgray !important;
    color: black !important;
}