<h1>{{job.identifier.prefix + '-' + job.identifier.year + '-' + job.identifier.label}}</h1>

<div>{{job.id}}</div>
<div>{{job.identifier}}</div>
<div>{{job.status}}</div>
<div>{{job.description}}</div>
<div>{{job.contractPrice}}</div>
<div>{{job.startDate}}</div>
<div>{{job.dueDate}}</div>
<div>{{job.completeDate}}</div>
<div>{{job. shop}}</div>
<div>{{job.salesperson}}</div>
<div>{{job.customer}}</div>
<div>{{job.contact}}</div>


<!-- id: Option[Int],
               identifier: JobIdentifier,
               status: JobStatus,
               description: Option[String],
               contractPrice: Option[BigDecimal],
               startDate: Option[Date],
               dueDate: Option[Date],
               completeDate: Option[Date],
               shop: Option[Shop] = None,
               salesperson: Option[Salesperson] = None,
               customer: Option[Customer] = None,
               contact: Option[Contact] = None) -->
