<md-content layout-padding layout="column" class="ssi-table">
  <md-progress-linear ng-show="loading" md-mode="indeterminate"></md-progress-linear>
  <md-list class="ssi-table-list">
    <md-virtual-repeat-container ng-hide="loading" class="ssi-table-list-virtual-repeat-container">
      <md-list-item md-virtual-repeat="salesperson in salespeople" class="ssi-table-list-item">
        <md-button ng-href="#/salespeople/{{salesperson.id}}">
          {{salesperson.label}}
        </md-button>
      </md-list-item>
    </md-virtual-repeat-container>
  </md-list>
</md-content>
