<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
    </div>
    <div class="col-md-10">
      <!--Body content-->

      <table class="carriers">
        <tr ng-repeat="carrier in carriers | filter:query" class="thumbnail carrier-listing">
          <a href="#/carriers/{{carrier.id}}">{{carrier.id + '-' + carrier.label}}</a>
          <td>{{carrier.label}}</td>
        </tr>
      </table>

    </div>
  </div>
</div>
