<div>drawing.id</div>
<div>drawing.jobId</div>
<div>drawing.label</div>
<div>drawing.drawingType</div>
<div>drawing.specialtyItem</div>
<div>drawing.info</div>




<!-- id: Option[Int],
                   jobId: Int,
                   label: String,
                   drawingType: DrawingType,
                   specialtyItem: Option[SpecialtyItem] = None,
                   info: Option[ShippingRequest] = None)


                   innerRoute : drawings/id/marks
                   returns Seq{marks (by DrawingId)}

                   object DrawingType {

                     val all = Set(
                       DETAIL, LAYOUT, VOID
                     )

                     case object DETAIL extends DrawingType

                     case object LAYOUT extends DrawingType

                     case object VOID extends DrawingType

                   } -->
