<!-- <div>drawing.id</div>
<div>drawing.jobId</div>
<div>drawing.label</div>
<div>drawing.drawingType</div>
<div>drawing.specialtyItem</div>
<div>drawing.info</div> -->
<h1>Drawing Detail</h1>

  <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
    <form name="drawingDetailForm" flex style="overflow-x : hidden">
    <div>

      <md-input-container>
        <label>Id</label>
        <input ng-model="drawing.id" type="text">
      </md-input-container>

      <md-input-container>
        <label>Job Id</label>
        <input ng-model="drawing.jobId" type="text">
      </md-input-container>

      <md-input-container>
        <label>Label</label>
        <input ng-model="drawing.label" type="text">
      </md-input-container>

      <md-input-container>
        <label>Type</label>
        <input ng-model="drawing.drawingType" type="text">
      </md-input-container>

      <div layout="row" layout-align="start center" flex>
        <md-input-container flex-offset-gt-sm="10" flex style="margin-top: 0px;">
          <md-select ng-model="drawing.drawingType">
            <md-option ng-repeat="drawingType in drawingTypes" ng-value="prefix">
                   {{drawingType}}
            </md-option>
          </md-select>
        </md-input-container>

      <md-input-container>
        <label>Specialty Item</label>
        <input ng-model="drawing.specialtyItem" type="text">
      </md-input-container>

<!-- ShippingRequest stuff  -->
      <md-input-container>
        <label>Info</label>
        <input ng-model="drawing.info.id" type="text">
      </md-input-container>

      <md-input-container>
        <label>Info</label>
        <input ng-model="drawing.info.tagType" type="text">
      </md-input-container>

      <md-input-container>
        <label>Info</label>
        <input ng-model="drawing.info.title" type="text">
      </md-input-container>

      <md-input-container>
        <label>Info</label>
        <input ng-model="drawing.info.revision" type="text">
      </md-input-container>

      <md-datepicker flex ng-model="revisionDateDisplay" md-placeholder="Revision Date"></md-datepicker>
      <md-datepicker flex ng-model="startDateDisplay" md-placeholder="Start Date"></md-datepicker>
      <md-datepicker flex ng-model="shopDateDisplay" md-placeholder="Shop Date"></md-datepicker>
      <md-datepicker flex-offset-gt-sm="10" flex ng-model="fieldDateDisplay" md-placeholder="Field Date"></md-datepicker>
      <md-datepicker flex-offset-gt-sm="10" flex ng-model="requestDateDisplay" md-placeholder="Request Date"></md-datepicker>

<!-- Date -->
      <md-input-container>
        <label>Info</label>
        <input ng-model="drawing.info.revisionDate" type="text">
      </md-input-container>
<!-- Date -->
      <md-input-container>
        <label>Info</label>
        <input ng-model="drawing.info.startDate" type="text">
      </md-input-container>
<!-- Date -->
      <md-input-container>
        <label>Info</label>
        <input ng-model="drawing.info.shopDate" type="text">
      </md-input-container>
<!-- Date -->
      <md-input-container>
        <label>Info</label>
        <input ng-model="drawing.info.fieldDate" type="text">
      </md-input-container>
<!-- Date -->
      <md-input-container>
        <label>Info</label>
        <input ng-model="drawing.info.requestDate" type="text">
      </md-input-container>

      <md-input-container>
        <label>Info</label>
        <input ng-model="drawing.info.requestedBy" type="text">
      </md-input-container>

      <md-input-container>
        <label>Info</label>
        <input ng-model="drawing.info.preparedBy" type="text">
      </md-input-container>

      <md-input-container>
        <label>Info</label>
        <input ng-model="drawing.info.filePath" type="text">
      </md-input-container>
      <md-input-container>

        <label>Info</label>
        <input ng-model="drawing.info.shop.label" type="text">
      </md-input-container>
      <md-input-container>

        <label>Carrier</label>
        <input ng-model="drawing.info.carrier.label" type="text">
      </md-input-container>

      <md-input-container>
        <label>Contact</label>
        <input ng-model="drawing.info.contact" type="text">
      </md-input-container>

      <md-input-container>
        <label>Address</label>
        <input ng-model="drawing.info.address" type="text">
      </md-input-container>

    </div>
    </form>
  </md-content>


<!-- id: Option[Int],
                   jobId: Int,
                   label: String,
                   drawingType: DrawingType,
                   specialtyItem: Option[SpecialtyItem] = None,
                   info: Option[ShippingRequest] = None)


                   innerRoute : drawings/id/marks
                   returns Seq{marks (by DrawingId)}

                   object DrawingType {

                     val all = Set(
                       DETAIL, LAYOUT, VOID
                     )

                     case object DETAIL extends DrawingType

                     case object LAYOUT extends DrawingType

                     case object VOID extends DrawingType

                   } -->
