<div>
  <md-fab-toolbar md-direction="left">
    <md-fab-trigger class="align-with-text">
      <md-button aria-label="menu" class="md-fab md-primary">
        <md-icon class="material-icons">filter_list</md-icon>
      </md-button>
    </md-fab-trigger>
    <md-toolbar>
      <md-fab-actions class="md-toolbar-tools">
        <md-button ng-click="onPrefixChange(undefined)">All Jobs</md-button>
        <md-button ng-click="inPrefixChange(prefix)" ng-repeat="prefix in prefixes">{{prefix}} Orders</md-button>
      </md-fab-actions>
    </md-toolbar>
  </md-fab-toolbar>

  <md-table-container>
    <table md-table md-row-select ng-model="selected" md-progress="promise">
      <thead md-head md-order="query.order" md-on-reorder="onReorder">
        <tr md-row>
          <th md-column>Job</th>
          <th md-column>Status</th>
        </tr>
      </thead>
      <tbody layout-padding md-body>
        <tr md-row md-select="job" md-select-id="{{job.id}}" md-auto-select ng-repeat="job in jobs">
          <td md-cell>{{job | jobTitle}}</td>
          <td md-cell>{{job | jobStatus}}</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
</div>

<md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{total}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
