<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="jobs">
        <li ng-repeat="job in jobs | filter:query" class="thumbnail job-listing">
          <a href="#/jobs/{{job.id}}">{{job.identifier.prefix + '-' + job.identifier.year + '-' + job.identifier.label}}</a>
          <p>{{job.description}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
