<!-- <div>{{manufacturer.id}}</div>
<div>{{manufacturer.label}}</div> -->

<h1>Manufacturer Detail</h1>
<form>
  <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
    <div>
      <md-input-container>
        <label>Id</label>
        <input ng-model="manufacturer.id" type="text">
      </md-input-container>
      <md-input-container>
        <label>Label</label>
        <input ng-model="manufacturer.label" type="text">
      </md-input-container>
    </div>
  </md-content>
<form>
