<!-- <div>{{mark.id}}</div>
 <div>{{mark.drawingId}}</div>
 <div>{{mark.shippingItem}}</div>
 <div>{{mark.label}}</div> -->

 <h1>Mark Detail</h1>
   <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
         <form name="markDetailForm" flex style="overflow-x : hidden" ng-hide="loading">
     <div>
       <md-input-container>
         <label>Id</label>
         <input ng-model="mark.id" type="text">
       </md-input-container>
       <md-input-container>
         <label>Drawing Id</label>
         <input ng-model="mark.drawingId" type="text">
       </md-input-container>

    <div>
      <label>Shipping Item</label>
       <md-input-container>
         <label>Shipping Item Id</label>
         <input ng-model="mark.shippingItem.id" type="text">
       </md-input-container>

       <md-input-container flex-offset-gt-sm="10" flex style="margin-top: 0px;">
         <md-select ng-model="mark.shippingItem.shippingItemStatus">
           <md-option ng-repeat="shippingItemStatus in shippingItemStatuses" ng-value="shippingItemStatus">
                  {{shippingItemStatus}}
           </md-option>
         </md-select>
       </md-input-container>

       <md-input-container>
         <label>Shipping Item</label>
         <input ng-model="mark.shippingItem.label" type="text">
       </md-input-container>
       <md-input-container>
         <label>Shipping Item</label>
         <input ng-model="mark.shippingItem.requested" type="text">
       </md-input-container>
       <md-input-container>
         <label>Shipping Item</label>
         <input ng-model="mark.shippingItem.completed" type="text">
       </md-input-container>
       <md-input-container>
         <label>Shipping Item</label>
         <input ng-model="mark.shippingItem.remarks" type="text">
       </md-input-container>
       <md-input-container>
         <label>Shipping Item</label>
         <input ng-model="mark.shippingItem.shop.label" type="text">
       </md-input-container>
    </div>

       <md-input-container>
         <label>Label</label>
         <input ng-model="mark.label" type="text">
       </md-input-container>
     </div>
      <form>
   </md-content>


<!--ShipmentItem(id: Option[Int],
                shipmentId: Int,
                shippingItem: ShippingItem,
                quantity: Int) -->

  <!-- ShippingItem(id: Option[Int],
             status: ShippingItemStatus = ShippingItemStatus.NS,
             label: Option[String] = None,
             requested: Int = 0,
             completed: Int = 0,
             remarks: Option[String] = None,
             shop: Option[Shop] = None) -->
