<div>{{partOrder.id}}</div>
<div>{{partOrder.jobId}}</div>
<div>{{partOrder.drawingId}}</div>
<div>{{partOrder.status}}</div>
<div>{{partOrder.part}}</div>
<div>{{partOrder.manufacturer}}</div>
<div>{{partOrder.vendor}}</div>
<div>{{partOrder.po}}</div>
<div>{{partOrder.requestedQuantity}}</div>
<div>{{partOrder.stockQuantity}}</div>
<div>{{partOrder.purchaseQuantity}}</div>
<div>{{partOrder.requestDate}}</div>
<div>{{partOrder.purchaseDate}}</div>
<div>{{partOrder.releaseDate}}</div>
<div>{{partOrder.releasedBy}}</div>


<!-- id: Option[Int],
                     jobId: Int,
                     drawingId: Option[Int] = None,
                     status: PartOrderStatus,
                     part: Option[Part] = None,
                     manufacturer: Option[Manufacturer] = None,
                     vendor: Option[Vendor] = None,
                     po: Option[String] = None,
                     requestedQuantity: Int = 0,
                     stockQuantity: Int = 0,
                     purchaseQuantity: Int = 0,
                     requestDate: Option[Date] = None,
                     purchaseDate: Option[Date] = None,
                     releaseDate: Option[Date] = None,
                     releasedBy: Option[String] = None) -->
