<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
    </div>
    <div class="col-md-10">
      <!--Body content-->

      <table class="shipmentItems">
        <tr ng-repeat="shipmentItem in shipmentItems | filter:query" class="thumbnail shipmentItem-listing">
          <td><a href="#/shipment-items/{{shipmentItem.id}}">{{shipmentItem.id + '-' + shipmentItem.jobId}}</a></td>
        </tr>
      </table>

    </div>
  </div>
</div>
